body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  .box{
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #191919;
    text-align: center;
  }
  .box h1{
    color: white;
    text-transform: uppercase;
    font-weight: 500;
  }
  .box input[type = "text"],.box input[type = "password"]{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
  }
  .box input[type = "text"]:focus,.box input[type = "password"]:focus{
    width: 280px;
    border-color: #2ecc71;
  }
  .box input[type = "submit"]{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
  }
  .box input[type = "submit"]:hover{
    background: #2ecc71;
  }

  nav h1{
      color: white;
  }

  nav {
    background-color: black;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    align-items: center;
    text-align: center;
  }
  
  footer {
      background-color: black;
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      text-align: center;
      align-items: center;
    }

    footer p {
        color: white;
    }

    footer input {
        border: 2px solid #2ecc71;
        outline: none;
        color: white;
        border-radius: 24px;
        transition: 0.25s;
        cursor: pointer;
        background: none;
    }

    footer input:hover {
        background: #2ecc71;
    }

    a {
        color: white;
        text-decoration: none;
    }

    a:hover{
        font-weight: bold;
        text-shadow:0px 0px 7px #FFFFFF;
    }